[submodule "third-party/libmodbus"]
	path = third-party/libmodbus
	url = https://github.com/rticommunity/libmodbus.git
	branch = 3.1.6_cmake
[submodule "third-party/paho.mqtt.c"]
	path = third-party/paho.mqtt.c
	url = https://github.com/eclipse/paho.mqtt.c
[submodule "third-party/json_parser"]
	path = third-party/json_parser
	url = https://github.com/udp/json-parser.git
[submodule "third-party/librdkafka"]
	path = third-party/librdkafka
	url = https://github.com/rticommunity/librdkafka
	branch = 1.6.1
[submodule "third-party/rticonnextdds-cmake-utils"]
	path = third-party/rticonnextdds-cmake-utils
	url = https://github.com/rticommunity/rticonnextdds-cmake-utils
